<div id='panel-wrapper'>
  <div id='panel-header' class='text-center'>
    <span class='panel-title'>JPB Werkvergunningen</span>
  </div>
  <div id='panel-body'>
    <div class='row'>
      <div class='col-md-12'>

      <%= render 'form' %>

<%= link_to 'Back', users_path %>
      </div>
    </div>
  </div>
</div>