
<div id='panel-wrapper'>
  <div id='panel-header' class='text-center'>
    <span class='panel-title'>JPB Werkvergunningen</span>
  </div>
  <div id='panel-body'>
    <div class='row'>
      <div class='col-md-12'>


<p id="notice"><%= notice %></p>
<div id="main-container" class="container-fluid">
  <div class="row">

    <div id="content" class="col-xs-9">

      <p>Geregistreerde rollen</p>

      <%= grid(@roles_grid, show_filters: :always) do |g|

        g.column name: 'ID', attribute: 'id' , auto_reload: true do |role|
          role.id
        end

        g.column name: 'Naam', attribute: 'name', auto_reload: true do |role|
          role.name
        end


        g.column name: 'Beschrijving', attribute: 'description', auto_reload: true do |role|
          role.description
        end

        g.column do |role|
          #link_to('Edit', edit_enquiry_path(enq))
          link_to 'Edit', edit_enquiry_path(role), class: 'btn btn-info btn-xs'
        end
        g.column do |role|
          link_to 'Show', role, class: 'btn btn-primary btn-xs'
        end
        g.column do |role|
          link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
        end
      end %>
    </div>
  </div>
</div>
<br>

      </div>
    </div>
  </div>
</div>