
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welkom bij het JPB Werkvergunningensysteem</h1>
<p>
Er is een nieuwe werkvergunning aangevraagd met nummer <%= @enquiry.id %>
</p>
<p>
 bladiebla
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
