
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welkom bij het JPB Werkvergunningensysteem, <%= @user.name %></h1>
<p>
U heeft een nieuwe werkvergunning aangevraagd!
</p>
<p>
 bladiebla
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
