
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welkom bij het JPB Werkvergunningensysteem, <%= @user.name %></h1>
<p>
  U bent succesvol aangemeld op het JPB Werkvergunningsysteem (URL)
  U kunt inloggen met: <%= @user.email %>.<br>
Via <a href="http://localhost:3000/users/password/new" >onze website</a> een nieuw wachtwoord aanmaken.
</p>
<p>
  To login to the site, just follow this link.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
