
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welkom bij het JPB Werkvergunningensysteem, <%= @user.name %></h1>
<p>
  U bent succesvol aangemeld op het JPB Werkvergunningsysteem (URL)
  U kunt inloggen met: <%= @user.email %>.<br>
  Het kan 2 werkdagen duren voordat uw account is goedgekeurd. Tot die tijd kunt u geen werkvergunningen aanvragen.

</p>
<p>
  To login to the site, just follow this link.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
