<div id='panel-wrapper'>
  <div id='panel-header' class='text-center'>
    <span class='panel-title'>JPB Werkvergunningen</span>
  </div>
  <div id='panel-body'>
    <div class='row'>
      <div class='col-md-12'>


<p>Werkvergunning bewerken</p>

<%# if can? :manage, Enquiry %>
<%# render 'adminform' %>
<%#end%>

<% if can? :edit, Enquiry %>
<%= render 'edit' %>

<%= link_to 'Vorige', @enquiry %> |

<%end%>
      </div>
      </div>
    </div>
  </div>
