<p id="notice"><%= notice %></p>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <!-- sidebar content -->
      <%= link_to 'New Enquiry', new_enquiry_path, class: 'btn btn-success' %>


    </div>
    <div id="content" class="col-xs-9">
      <!--  main content -->
      <h1>JPB Werkvergunningen</h1>
      <p>Welkom bij het JPB werkvergunninssyteem.</p>
      <p>Binnen dit systeem kunt u nieuwe werkvergunningen aanvragen indien u van plan bent</p>
       <p> werkzaamheden te gaan verrichten op een van onze locatie's.</p>
    </div>
  </div>
</div>



