
<div id='panel-wrapper'>
  <div id='panel-header' class='text-center'>
    <span class='panel-title'>JPB Werkvergunningen</span>
  </div>
  <div id='panel-body'>
    <div class='row'>
      <div class='col-md-12'>

<p id="notice"><%= notice %></p>

<div id="main-container" class="container-fluid">
  <div class="row">

    <div id="content" class="col-xs-12">
      <!--  main content -->
      <p>Welkom bij het JPB werkvergunningssyteem.</p>
      <p>Binnen dit systeem kunt u nieuwe werkvergunningen aanvragen indien u van plan bent werkzaamheden te gaan verrichten op een van onze locatie's.</p>
      <%= @user_id %>
    </div>
    </div>
  </div>


<%#link_to 'Nieuwe werkvergunning', new_enquiry_path, class: 'btn btn-success' %><br>

<br>
<hr>
<br>
<div>

  <div class="panel-body">
  <div class="row">
<div class="col-sm-12">

  <%=render 'indextabel' %>
</div>
  </div>
  </div>

</div>

      </div>
    </div>
  </div>
</div>
