
< <div id="sidebar" class="col-xs-1">


</div>
<div id="content" class="col-xs-11">
  <% if can? :manage, Enquiry %>
    <%= render 'adminform' %>


<%end%>
  <%= render 'form' %>

<%= link_to 'Back', enquiries_path %>
</div>
