<div id='panel-wrapper'>
  <div id='panel-header' class='text-center'>
    <span class='panel-title'>JPB Werkvergunningen</span>
  </div>
  <div id='panel-body'>
    <div class='row'>
      <div class='col-md-12'>




</div>
<div id="content" class="col-xs-12">
  <% if can? :manage, Enquiry %>
    <%# render 'adminform' %>


<%end%>
  <%= render 'form' %>

<%= link_to 'Back', enquiries_path %>
</div>
    </div>
  </div>
</div>
s