<div id='panel-wrapper'>
  <div id='panel-header' class='text-center'>
    <span class='panel-title'>JPB Werkvergunningen</span>
  </div>
  <div id='panel-body'>
    <div class='row'>
      <div class='col-md-12'>


        <p>Werkvergunning tonen</p>

<%# if can? :manage, Enquiry %>
<%# render 'adminform' %>
<%#end%>

            <%= render 'show' %>

            <%= link_to 'Vorige', enquiries_path %>
<% if can? :edit, Enquiry %>
        <%= link_to 'Bewerken', edit_enquiry_path(@enquiry) %> |
            <%end%>

      </div>
    </div>
  </div>
</div>
